@import '../../styles/var.scss';

.wrapper {
  width: 100%;
  max-width: 600px;
  font-family: 'Assistant', sans-serif;

  margin: auto;
  padding: 50px 0;

  .title-box {
    width: 300px;
    margin: auto;
  }

  .photo {
    width: 300px;
    margin: 60px auto 20px auto;
    position: relative;

    .point {
      width: 200px;
      height: 200px;
      background-color: $mainColor;
      position: absolute;
      right: -40px;
      top: -50px;
      z-index: -1;
      border-radius: 50%;
    }

    .line {
      width: 350px;
      height: 10px;
      background-color: #d3d3d3;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -175px;
    }

    img {
      width: 100%;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      font-size: 5em;
      font-weight: bold;
    }
  }

  .info {
    margin-top: 50px;
    text-align: center;
  }

  .name {
    font-size: 2em;
  }

  .sub {
    margin-top: 20px;
    font-size: 1.5em;
  }

  .desc {
    margin-top: 30px;
    .desc-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      margin-bottom: 8px;

      .desc-title {
        width: 100px;
        margin-right: 10px;
        text-align: left;
      }

      .desc-value {
        width: 150px;
        text-align: left;

        a {
          color: #917e00;

          &:hover {
            color: #917e00;
          }
        }
      }
    }
  }

  .section {
    margin: 100px 0;

    .section-title {
      font-size: 2.5em;
      margin-bottom: 50px;
      // color: $mainColor;
      font-weight: bold;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        position: relative;
        color: #373737;
        &::after {
          content: '';
          display: block;
          width: 70%;
          max-width: 100px;
          height: 15px;
          background-color: $mainColor;
          position: absolute;
          right: -15px;
          bottom: 2px;
          z-index: -1;
        }
      }
    }

    .section-content {
      ul {
        margin-top: 0;
        padding-left: 20px;
        li {
          margin-bottom: 5px;
        }
      }
      .section-item {
        margin-bottom: 20px;
        font-size: 1.3em;

        .section-main-title {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin: 0 !important;
          .date {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            opacity: 0.7;
            div {
              margin: 0 !important;
            }
          }
        }

        .section-sub-title {
          opacity: 0.6;
          font-style: italic;
          margin-bottom: 15px;
          font-size: 0.95em;
        }

        b {
          font-size: 1.1em;
        }

        &.mb-2 {
          margin-bottom: 50px;
        }
        div {
          margin: 5px 0;
        }
      }
    }
  }

  .section-desc-box {
    margin-top: 20px !important;
  }
  .section-desc {
    opacity: 0.7;
    display: flex;
    align-items: center;

    .section-desc-title {
      width: 70px;
      margin-right: 5px;
      font-size: 0.9em;
    }

    .section-desc-value {
      font-size: 0.9em;
    }

    a {
      color: #222;
      text-decoration: underline;
      &:hover {
        color: #222;
      }
    }
  }
}

.flag-box {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 0 30px;
  }
  .flag-box {
    flex-wrap: wrap;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .section-main-title {
    flex-direction: column !important;
  }

  .date {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px !important;
  }
  .section-sub-title {
    margin-bottom: 5px !important;
  }
}
