@import "styles/var.scss";

.main-wrapper {
  width: 100%;

  a {
    color: #242424;
  }
  .list {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s;
    padding: 30px 15px;
    margin-bottom: 10px;
    &:hover {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 0.8em;

      .tag {
        display: flex;
        align-items: center;

        .tag-title {
          font-size: 1.2em;
          font-weight: 900;
          opacity: 1;
          margin-right: 10px;
        }

        .action {
          margin: 0 3px;
          opacity: 0.5;
        }
      }

      .date {
        font-size: 1.2em;
        opacity: 0.5;
      }
    }

    .title {
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      line-height: 2.5em;
      .text {
        font-size: 1.5em;
        border-bottom: 1px solid $mainColor;
        margin-bottom: 5px;
      }
    }

    .content {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;

      .text {
        font-size: 1.1em;
        line-height: 2em;
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main-wrapper {
    .list {
      padding: 15px 7px;
      margin-bottom: 5px;
    }
  }
}
