@import "styles/var.scss";

.main-wrapper {
  width: 100%;
  .list {
    width: 100%;
    cursor: pointer;
    transition: all 0.4s;
    padding: 30px 10px;
    &:hover {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      font-size: 0.8em;

      .tag {
        padding: 3px 7px;
        border-radius: 3px;
        background-color: rgb(255, 145, 20);
        color: #ffffff;
      }

      .date {
        opacity: 0.5;
      }
    }

    .title {
      display: flex;
      margin-bottom: 5px;
      .text {
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: 3px solid $mainColor;
        margin-bottom: 5px;
      }
    }
  }
}
