@import "styles/var.scss";

.logo-box {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  color: #242424;
  text-decoration: none;

  .logo-text {
    font-size: 30px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: bold;
  }

  .logo-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $mainColor;
    margin-left: 3px;
    margin-bottom: 5px;
  }
}
