@import "styles/var.scss";

.footer-wrapper {
  padding: 20px 0;
  display: flex;

  a {
    color: $mainColor;
  }

  .oper-box {
    margin: 0 10px;

    a {
      padding: 0 5px;
      color: rgb(194, 194, 194);
    }
  }
}
