@import "styles/var.scss";

.post-wrapper {
  width: 100%;

  p {
    font-size: 15px;
    color: #666;
  }

  code {
    font-family: "Noto Sans KR", sans-serif;
    background: #f1f1f1;
    font-size: 0.9em;
    padding: 2px 3px;
    color: #ff9b00;
  }

  .header {
    padding: 15px 0;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 40px;

    .desc-box {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      font-size: 1.2em;
      justify-content: space-between;
    }

    .date {
      opacity: 0.5;
    }

    .post-title {
      font-size: 3em;
      word-break: break-all;
    }
  }

  .content {
    padding: 10px;
    font-size: 1em;
    line-height: 1.5em;
    word-break: break-all;
    img {
      width: 100%;
      display: block;
      margin: auto;
      max-width: 700px;
    }
  }
}

blockquote {
  background-color: #efefef;
  margin: 0px !important;
  padding: 0.5em 40px;
  color: #636363;
}

@media screen and (max-width: 700px) {
  .post-wrapper {
    .content {
      padding: 0;
    }
  }
}
