@import "styles/var.scss";

.post-wrapper {
  width: 100%;

  .header {
    padding: 15px 0;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 40px;

    .desc-box {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      font-size: 1.3em;
      justify-content: space-between;
    }

    .date {
      opacity: 0.5;
    }

    .post-title {
      font-size: 3em;
      word-break: break-all;
    }
  }

  .content {
    padding: 50px 10px;
    font-size: 1em;
    line-height: 1.5em;
    word-break: break-all;
  }
}
